.root
{
    -fx-background-color: #212F3D;
}

.titlePane
{
    -fx-background-color: #17202A;
}

.pane
{
    -fx-border-color: #000;
}

.addButton
{
    -fx-background-color: #1C2833;
}

.checkBox
{
    -fx-background-color: #212F3D;
    -fx-border-color: #2471A3;
    -fx-control-inner-background: #17202A;
    -fx-selection-bar: #212F3D;
}

.checkBox .label
{
    -fx-text-fill: #cccccc;
}